<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOAK '16 Skynet ❤️</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
      <a class="navbar-brand" href="/">Skynet2</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Bla</a></li>
      </ul>
    </nav>
    <div id="posts-container" class="container">
      <div class="row post">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-right text-muted">Gerade eben von kevin</div>
            <div class="img">
            <img src="http://www.joomlaworks.net/images/demos/galleries/abstract/7.jpg">
            </div>
            <div class="card-block">
              <h4 class="card-title">Minion!</h4>
              <p class="card-text">
                Minions ipsum para tú po kass gelatooo wiiiii ti aamoo! Baboiii
                underweaaar bananaaaa gelatooo chasy. Aaaaaah jeje butt poopayee
                bananaaaa tatata bala tu. Po kass chasy baboiii baboiii bananaaaa ti
                aamoo! Poulet tikka masala poulet tikka masala ti aamoo! Uuuhhh para
                tú ti aamoo! Tank yuuu! Hahaha tulaliloo tulaliloo po kass jeje
                tatata bala tu uuuhhh. Belloo! jiji aaaaaah tulaliloo tatata bala tu.
              </p>
              <div class="buttons">
                <a href="#" class="btn btn-primary-outline btn-sm">✐ <small>14</small></a>
                <a href="#" class="btn btn-primary-outline btn-sm">❤️ <small>3</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row post">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header text-right text-muted">Gerade eben von kevin</div>
            <div class="img">
            <img src="http://cdn.theatlantic.com/static/infocus/hubble120112/h03_hs201013.jpg">
            </div>
            <div class="card-block">
              <h4 class="card-title">Minion!</h4>
              <p class="card-text">
                Bee do bee do bee do la bodaaa jeje poopayee baboiii la bodaaa jiji.
                Jeje bananaaaa pepete me want bananaaa! Poulet tikka masala wiiiii
                tulaliloo wiiiii gelatooo po kass butt. Hahaha hahaha jeje bananaaaa
                jeje tatata bala tu la bodaaa jiji pepete ti aamoo! La bodaaa aaaaaah
                hana dul sae la bodaaa po kass. Potatoooo hana dul sae aaaaaah jiji.
                Ti aamoo! bananaaaa potatoooo la bodaaa underweaaar daa daa wiiiii
                bananaaaa bappleees butt. Baboiii hahaha chasy hahaha gelatooo
                bananaaaa aaaaaah potatoooo poopayee tank yuuu! Bee do bee do bee do.
                Bananaaaa tatata bala tu potatoooo underweaaar jeje underweaaar
                aaaaaah. Aaaaaah po kass chasy potatoooo potatoooo underweaaar
                hahaha baboiii bananaaaa tulaliloo me want bananaaa!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
