<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOAK '16 Skynet ❤️</title>

    <link href="/static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="navigation"></div>
    {% block main %}
    <div id="posts-container" class="container main">
    </div>
    {% endblock %}
    {% block script %}
    <script src="/static/js/bundle/app.js"></script>
    {% endblock %}
  </body>
</html>
