<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
            <title>{{title}} - microblog</title>
        {% else %}
            <title>Welcome to microblog</title>
        {% endif %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <style type="text/css">
        body {
            padding-top: 70px;
        }

        div.post-meta {
            font-size: 14px;
            color: #CCC;
        }

        p.text {
            font-size: 18px;
        }

        p.right {
            float: right;
        }

        p.left {
            float: left;
        }

        img.img-post {
            max-width: 80%;
        }
    </style>
    <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    {% block script %}
    <script src="{{ url_for('static', filename='binaryajax.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.canvasResize.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.exif.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.appear.js') }}"></script>
    <script>
    $(document).ready(function(){
        $("#login-form").submit(function(event){
            $.post("{{ url_for('login') }}", {
                'username': $("#login-modal-username").val(),
                'password': $("#login-modal-password").val(),
            }).done(function(){
                $("#login-modal").modal("hide");
                $("#login-modal").on("hidden.bs.modal", function(){
                    window.location.replace("{{ url_for('index') }}");
                });
            }).fail(function(){
                $("#login-modal-error").removeClass("hidden");
                $("#login-modal-error").addClass("in");
            });
            event.preventDefault();
        });

        $("div.post").appear();
        $(document.body).on('appear', 'div.post', function(e, $divs){
            $last_div = $divs.last();
            if($last_div.attr("data-next")){
                next_id = $last_div.attr("data-next");
                console.log(next_id);
                $last_div.attr("data-next", "");
                $new_div = $last_div.clone().insertAfter($last_div);
                $new_div.find("img").attr("src", "{{ url_for('static', filename='img/9gag-loading-small.gif') }}");
                $new_div.find("p.author").html("...");
                $new_div.find("p.date").html("...");
                $new_div.find("p.text").html("...");
                $.getJSON("{{ url_for('json') }}?post=" + next_id, function(data){
                    $new_div.attr("data-next", data["next"]);
                    $new_div.find("img").attr("src", data["image"]);
                    $new_div.find("p.author").html(data["username"]);
                    $new_div.find("p.date").html(data["created"]);
                    $new_div.find("p.text").html(data["text"]);
                });
            }
        })

        var resized_data;
        $('input[name=photo]').change(function(e) {
            $("#new-post-modal-image").attr("src", "{{ url_for('static', filename='img/9gag-loading-small.gif') }}");
            var file = e.target.files[0];
            console.log(file);
            $.canvasResize(file, {
                        width: 800,
                        height: 800,
                        crop: false,
                        quality: 100,
                        callback: function(data, width, height) {
                            resized_data = data;
                            $("#new-post-modal-image").attr("src", data);
                        }
            });
        });

        $("#new-post-form").submit(function(event){
            $.post("{{ url_for('new_post') }}", {
                'text': $("textarea").val(),
                'file': resized_data,
            }).done(function(data){
                window.location.replace("{{ url_for('index') }}");
            }).fail(function(){
                alert('Upload failed...');
            });
            event.preventDefault();
        });
    });

    function refresh(){
        $first_post = $("div.post").first();
    }
    </script>
    {% endblock %}
    </head>
    <body>
    {{ first_post }}
    {% block body %}
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">µBlog</a>
            </div>
            <ul class="nav navbar-nav">
                {% if session.username %}
                <li><a href="#" role="button" data-toggle="modal" data-target="#new-post-modal">+</a></li>
                {% endif %}
                {% if page.prev %}
                <li><a href="{{ url_for('index', start=page.prev) }}">Previous</a></li>
                {% endif %}
                {% if page.next %}
                <li><a href="{{ url_for('index', start=page.next) }}">Next</a></li>
                {% endif %}
            </ul>
            <div class="navbar-right">
                {% if session.username %}
                <p class="navbar-text">
                    Hey, {{ session.username }}
                </p>
                {% endif %}
                <ul class="nav navbar-nav">
                    {% if session.username %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a role="button" href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {# MODALS #}
        {# Login #}
        <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="login-modal-label">Login</h4>
                    </div>
                    <form role="form" id="login-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input id="login-modal-username" class="form-control" type="text" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input id="login-modal-password" class="form-control" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="alert alert-danger fade hidden" id="login-modal-error" role="alert">
                                Yo! Check da pwd, bro!
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# New Post #}
        <div id="new-post-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="login-modal-label">Whazaaap??</h4>
                    </div>
                    <form role="form" id="new-post-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="text">Erzähl:</label>
                                <textarea id="new-post-modal-text" class="form-control" name="text"></textarea>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="file">Mit Fotto?</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="file" class="form-control" name="photo">
                                    </div>
                                    <div class="col-md-4">
                                        <img id="new-post-modal-image" style="max-width: 100%;" class="img-rounded" src="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">GO!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if error_message != None %}
            {{ error_message }}
        {% endif %}
        {% block content %}
        {% for post in page.items %}
        <div class="row">
            <div id="post-{{ post.id }}" {% if loop.first %}data-prev="{{ page.prev|urlencode }}"{% elif loop.last %}data-next="{{ page.next|urlencode }}"{% endif %} class="col-xs-12 col-sm-10 col-md-7 post">
                <div class="post-meta">
                    <p class="author left">{{ post.author_user_id }}</p>
                    <p class="date right">{{ post.created }}</p>
                </div>
                <div class="clearfix"></div>
                <p class="text">{{ post.text }}</p>
                {% if post.image %}
                <center>
                <img src="{{ post.image }}" class="img-post img-rounded">
                </center>
                {% endif %}
                <hr>
            </div>
        </div>
        {% endfor %}
        {% endblock %}
    {% endblock %}
    </div>
    </body>
</html>
