<html>
    <head>
    {% if title %}
        <title>{{title}} - microblog</title>
    {% else %}
        <title>Welcome to microblog</title>
    {% endif %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <style type="text/css">
        body { padding-top: 70px; }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    {% block script %}
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">µBlog</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
                {% if page.prev %}
                <li><a href="{{ url_for('index', start=page.prev) }}">Previous</a></li>
                {% endif %}
                {% if page.next %}
                <li><a href="{{ url_for('index', start=page.next) }}">Next</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a>
                </ul>
            </div>
        </nav>
        {% if error_message != None %}
            {{ error_message }}
        {% endif %}
        <ul>
        {% block content %}
        {% for post in page.items %}
            <li>
                <div>
                    {{ post.text }}
                    {% if post.filename != None %}
                    <img style="max-width: 200px; max-height: 200px;" src="{{ url_for('static', filename=post.get_file()) }}">
                    {% endif %}
                    {% if post.image != None %}
                    <img style="max-width: 200px; max-height: 200px;" src="{{ post.image }}">
                    {% endif %}
                    <span style="color: #ccc;">{{ post.author_user_id }}</span><br>
                    <span style="color: #ccc;">{{ post.created }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% endblock %}
    {% endblock %}
    </body>
</html>
