{% extends 'index.html' %}

{% block script %}
<script src="{{ url_for('static', filename='binaryajax.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.canvasResize.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.exif.js') }}"></script>
<script>
var resized_data;
$(document).ready(function(){
    $('input[name=photo]').change(function(e) {
        var file = e.target.files[0];
        console.log(file);
        $.canvasResize(file, {
                    width: 300,
                    height: 0,
                    crop: false,
                    quality: 80,
                    callback: function(data, width, height) {
                        resized_data = data;
                    }
        });
    });

    $("form").submit(function(){
        $.post("{{ url_for('new_post') }}", {
            'text': $("textarea").val(),
            'file': resized_data
        }).done(function(data){
            window.location.replace("{{ url_for('index') }}");
        });
        event.preventDefault();
    });
});

</script>
{% endblock %}
{% block body %}
<img src="" id="image">
<form action="{{ url_for('new_post') }}" enctype="multipart/form-data" method="post">
    <textarea name="text"></textarea><br>
    <input type="file" name="photo"><br>
    <button type="submit">YAY</button>
</form>
{% endblock %}
